body {
  //background: brown;
}
.ClimbTwo {
  background: right 0,30% url(../Assets/banneruno.png);
  background-size: cover;
  width: 1250px;
  height: 250px;
  border-radius: 25px;
  filter: contrast(80%) contrast(102%);
}
.SecndMainDivImg {
  display: flex;
  justify-content: center;
}

.title_img img {
  z-index: -1;
  object-fit: cover;
  border-radius: 25px;
  width: 94%;
}

.MainDivAbout {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  &_DropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
  }
  &_MainContainer {
    display: flex;
    flex-wrap: wrap;
  }

}
.center {
  display: flex;
  justify-content: center;
  margin-left: 6.3rem;
}


