body {
  //background: brown;
}
.ClimbTwo {
  background: right 0,30% url(../Assets/banneruno.png);
  background-size: cover;
  width: 1250px;
  height: 250px;
  border-radius: 25px;
  filter: contrast(80%) contrast(102%);
}
.SecndMainDivImg {
  display: flex;
  justify-content: center;
}
