@import "Utils";

.MainDivAvatar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  &_Name {
    color: $textcolor;
    font-weight: 500;
    font-size: 18px;
  }
  &_Owner {
    margin-top: 20px;
    img {
      width: 64px;
      height: 64px;
      left: 1273px;
      top: 567px;
      border-radius: 50px;
      background: #C4C4C4;
    }
  }


}



