
/*ajout de l'image en scss pour pouvoir la centrer comme sur la maquette*/
.Show {
  display: none;
}
.ClimbOne {
  background: center 20% url(../Assets/bannerdeuxio.png);
  background-size: cover;
  width: 1250px;
  height: 250px;
  border-radius: 25px;
  /*box-shadow: rgba(0, 0, 0, 0.7) 0px -50px 40px inset;*/
  filter : brightness(65%);
  margin-top: -120px;
}
.MainDivImg {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 0 65px;
  margin-bottom: 80px;
}
.MainDivHomes {
  width: 90%;
  background: #ECECEC;
  border-radius: 25px;
  margin-bottom: 80px;
  &_Infos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}
.BigBossMain {
  display: flex;
  justify-content: center;
}
.BannerTitle {
  position: absolute;
  width: 100%;
  margin: 60px 0;
  text-align: center;
  top: 220px;
  left: 0;
  font-size: 48px;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  color: white;
  z-index: 2;
}


// init responsive media
@media screen and (max-width: 400px) {
  .MainDivImg {
    width: unset;
    display: unset;
    justify-content: unset;
    padding: unset;
  }
  .BannerTitle {
    top: 105px;
    font-size: 25px;
    left: 35px;
    text-align: start;
    width: unset;
  }
  .ClimbOne {
    width: 380px;
    height: 120px;
    margin-left: 10px;
  }
  .Show {
    display: flex;
  }
  .BigBossMain {
    margin-top: 30px;
  }
  .MainDivHomes {
    background: unset;
    margin-bottom: 0;
    &_Infos {
      gap: 0;
    }
  }





}








