
/*ajout de l'image en scss pour pouvoir la centrer comme sur la maquette*/
.ClimbOne {
  background: center 20% url(../Assets/bannerdeuxio.png);
  background-size: cover;
  width: 1250px;
  height: 250px;
  border-radius: 25px;
  filter : brightness(65%);
}
.MainDivImg {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 0px 65px;
  margin-bottom: 80px;
}
.MainDivHomes {
  width: 90%;
  background: #ECECEC;
  border-radius: 25px;
  margin-bottom: 80px;
  &_Infos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}
.BigBossMain {
  display: flex;
  justify-content: center;
}
.BannerTitle {
  color : whitesmoke;
  position: relative;
  top: 190px;
  z-index: 1;
  left: 315px;
  font-size: 50px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}
