
.accordionlocation__section {
  display: flex;
  flex-direction: column;
}

.accordionlocation {
  width: 500px;
  height: 52px;
  border-radius: 10px;
  background-color: #FF6060;
  color: white;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;

}

.accordionlocation__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.accordionlocation__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordionlocation__content {
  background-color: #F6F6F6;
  overflow: auto;
  transition: max-height 0.6s ease;
  height: 249px;
  width: 500px;
  left: 0px;
  top: 38px;
  border-radius: 10px;
}

.accordionlocation__text {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 18px;
}


@media (max-width: 375px) {

  .accordionlocation {
    width: 335px;
    height: 29.93px;
  }

  .accordionlocation__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
  }

  .accordionlocation__content {
    width: 335px;
  }

  .accordionlocation__text {
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 18px;
  }
}

