/*
.Spinner {
  position: relative;
}
.spin1 {
  position: absolute;
  top: -24px;
  left: -24px;
  padding: 10px;
  border: 12px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s infinite ease-in rotate;
  height: 0;
  width: 0;
  opacity: .7;
}
.spin2 {
  position: absolute;
  top: -24px;
  left: -24px;
  padding: 12px;
  border: 10px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: .6s infinite ease-in rotate;
  height: 0;
  width: 0;
  opacity: .4;
}
*/
