.tag {
  background: #FF6060;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0px 20px 0px 20px;
  font-weight: 600;
}

.tag-content {
  margin-top: 6px;
  font-size: 15px;
}
