.tag {
  background: #FF6060;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 11px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
  font-weight: 600;
}

.tag-content {
  margin-top: 6px;
  font-size: 15px;
}

@media screen and (max-width: 400px) {

  .tag {
    padding: 0 5px 0 5px;
  }
  .tag-content {
    font-size: 12px;
  }


}